<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update form</title>
</head>
<body>
<h1>Edit form</h1>
<a th:href="@{/home}">Back to List</a>
<form th:action="@{/update_blog}" method="post" th:object="${blog}">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table th:border="1">
        <thead>
        <tr>
            <td>Title</td>
            <td>Before</td>
            <td>After</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Author</td>
            <td th:text="${blog.author}"></td>
            <td><input type="text" th:field="*{author}"></td>
        </tr>

        <tr>
            <td>Description</td>
            <td th:text="${blog.description}"></td>
            <td>
                <input type="text" th:field="*{description}">
            </td>
        </tr>

        <tr>
            <td>Contain</td>
            <td th:text="${blog.contain}"></td>
            <td>
                <input type="text" th:field="*{contain}">
            </td>
        </tr>

        <tr>
            <td>Category</td>
            <td th:text="${blog.category.getName()}"></td>
            <td>
                <select th:field="*{category}">
                    <option th:each="p:${categorys}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="Summit">
            </td>
        </tr>
        </tbody>

    </table>
</form>
</body>
</html>