<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List category</title>
</head>
<body>
    <h1>List Category</h1>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ca: ${categorys}">
                    <td th:text="${ca.name}"></td>
                    <td th:text="${ca.description}"></td>
                    <td>
                         <a th:href="@{/edit-category/__${ca.getId()}__}">Edit</a>
                    </td>
                    <td>
                        <a th:href="@{/delete-category/__${ca.getId()}__}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <a th:href="@{/create-category}">Create category</a>
</body>
</html>